{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "rules": {
    "indent": [2, "tab", { "SwitchCase": 1, "VariableDeclarator": 1 }],
    "no-tabs": "off",
    "comma-dangle": ["error", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
    }],
    "no-param-reassign": 0,
    "max-len": [2, 120, 2, {
        "ignoreUrls": true,
        "ignoreComments": false
    }],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "object-property-newline": 0,
    "no-underscore-dangle": ["error", { "allow": ["_embedded", "_model", "_meta"] }],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test.js"]}],
    "arrow-parens": [2, "always"],
    "no-script-url": 0,
    "no-confusing-arrow": 0,
    "camelcase": [2, {"properties":"always"}],
    "no-console": [2, {"allow": ["error", "trace"] }]
  }
}
